{
    "serverPort" : "8888",

    "enableLiveStream" : false,
    "enableLiveHttpStream" : false,
    "enableRecordedStream" : false,

    "broadcast" :  { "GR" : false, "BS" : false, "CS" : false, "EX" : false },

    "liveVideoSetting" : [
        {
            "id"      : 1,
            "name"    : "1280x720(main)",
            "command" : "/usr/local/bin/ffmpeg -re -dual_mono_mode main -vaapi_device /dev/dri/renderD128 -hwaccel vaapi -hwaccel_output_format vaapi -i pipe:0 -vf format=nv12|vaapi,hwupload,deinterlace_vaapi,scale_vaapi=w=1280:h=720 -f hls -hls_time 3 -hls_list_size 17 -hls_allow_cache 1 -hls_segment_filename  <streamFilesDir>/stream<streamNum>-%09d.ts -threads auto -acodec libfdk_aac -ar 48000 -ab 192k -ac 2 -vcodec h264_vaapi -level 40 -aspect 16:9 -vb 6000k -flags +loop+global_header <streamFilesDir>/stream<streamNum>.m3u8"
        },
        {
            "id"      : 2,
            "name"    : "1280x720(sub)",
            "command" : "/usr/local/bin/ffmpeg -re -dual_mono_mode main -vaapi_device /dev/dri/renderD128 -hwaccel vaapi -hwaccel_output_format vaapi -i pipe:0 -vf format=nv12|vaapi,hwupload,deinterlace_vaapi,scale_vaapi=w=1280:h=720 -f hls -hls_time 3 -hls_list_size 17 -hls_allow_cache 1 -hls_segment_filename  <streamFilesDir>/stream<streamNum>-%09d.ts -threads auto -acodec libfdk_aac -ar 48000 -ab 192k -ac 2 -vcodec h264_vaapi -level 40 -aspect 16:9 -vb 6000k -flags +loop+global_header <streamFilesDir>/stream<streamNum>.m3u8"
        }
    ],

    "liveHttpVideoSetting" : [
        {
            "id"      : 1,
            "name"    : "720x480(main)",
            "command" : "/usr/local/bin/ffmpeg -re -dual_mono_mode main -vaapi_device /dev/dri/renderD128 -hwaccel vaapi -hwaccel_output_format vaapi -i pipe:0 -vf format=nv12|vaapi,hwupload,deinterlace_vaapi,scale_vaapi=w=720:h=480 -acodec libfdk_aac -ar 48000 -ab 192k -ac 2 -vcodec h264_vaapi -level 40 -aspect 16:9 -vb 1500k -f mpegts -movflags frag_keyframe+empty_moov pipe:1"
        },
        {
            "id"      : 2,
            "name"    : "720x480(sub)",
            "command" : "/usr/local/bin/ffmpeg -re -dual_mono_mode sub -vaapi_device /dev/dri/renderD128 -hwaccel vaapi -hwaccel_output_format vaapi -i pipe:0 -vf format=nv12|vaapi,hwupload,deinterlace_vaapi,scale_vaapi=w=720:h=480 -acodec libfdk_aac -ar 48000 -ab 192k -ac 2 -vcodec h264_vaapi -level 40 -aspect 16:9 -vb 1500k -f mpegts -movflags frag_keyframe+empty_moov pipe:1"
        }
    ],

    "recordedVideoSetting" : [
        {
            "id"      : 1,
            "name"    : "720x480(main)",
            "command" : "/usr/local/bin/ffmpeg -dual_mono_mode main -vaapi_device /dev/dri/renderD128 -hwaccel vaapi -hwaccel_output_format vaapi -i <input> -vf format=nv12|vaapi,hwupload,deinterlace_vaapi,scale_vaapi=w=720:h=480 -f hls -hls_time 3 -hls_list_size 17 -hls_allow_cache 1 -hls_segment_filename  <streamFilesDir>/stream<streamNum>-%09d.ts -threads auto -acodec libfdk_aac -ar 48000 -ab 192k -ac 2 -vcodec h264_vaapi -level 40 -aspect 16:9 -vb 6000k -flags +loop+global_header <streamFilesDir>/stream<streamNum>.m3u8"
        },
        {
            "id"      : 2,
            "name"    : "720x480(sub)",
            "command" : "/usr/local/bin/ffmpeg -dual_mono_mode sub -vaapi_device /dev/dri/renderD128 -hwaccel vaapi -hwaccel_output_format vaapi -i <input> -vf format=nv12|vaapi,hwupload,deinterlace_vaapi,scale_vaapi=w=720:h=480 -f hls -hls_time 3 -hls_list_size 17 -hls_allow_cache 1 -hls_segment_filename  <streamFilesDir>/stream<streamNum>-%09d.ts -threads auto -acodec libfdk_aac -ar 48000 -ab 192k -ac 2 -vcodec h264_vaapi -level 40 -aspect 16:9 -vb 6000k -flags +loop+global_header <streamFilesDir>/stream<streamNum>.m3u8"
        }
    ],

    "tuners": [],

    "streamFilePath" : "/usr/local/EPGRemote/streamfiles",

    "maxStreamNumber" : 4,

    "EpgrecDatabaseConfig" : {
        "multipleStatements": true,
        "host": "mysql",
        "user": "epgrec",
        "password": "epgrec",
        "database": "epgrec",
        "timeout": 5000
    },

    "EpgrecRecordName" : "Recorder_",

    "epgrecConfig" : {
        "host" : "http://127.0.0.1",
        "videoPath" : "/var/www/epgrec/video",
        "thumbsPath" : "/var/www/epgrec/thumbs",
        "recMode" : [
                        { "id" : 0, "name" : "Full TS" },
                        { "id" : 1, "name" : "HD TS" },
                        { "id" : 2, "name" : "SD TS" },
                        { "id" : 3, "name" : "H264-HD" },
                        { "id" : 4, "name" : "H264-SD" }
                    ],
        "recModeDefaultId" : 3,
        "startTranscodeId" : 3
    },

    "programLength": 8,

    "programViewConfig": {
        "tablet": {
            "timeHeight":      180,
            "timeWidth":       30,
            "timeFontSize":    17,
            "stationHeight":   30,
            "stationWidth":    140,
            "stationFontSize": 15,
            "titleSize":       10,
            "timeSize":        10,
            "descriptionSize": 10
        },
        "mobile": {
            "timeHeight":      120,
            "timeWidth":       20,
            "timeFontSize":    12,
            "stationHeight":   20,
            "stationWidth":    100,
            "stationFontSize": 12,
            "titleSize":       7.5,
            "timeSize":        7.5,
            "descriptionSize": 7.5
        }
    },

    "RecordedStreamingiOSURL": "infuse://x-callback-url/play?url=http://ADDRESS",
    "RecordedDownloadiOSURL": "vlc-x-callback://x-callback-url/download?url=http://ADDRESS",
    "RecordedStreamingAndroidURL": "intent://ADDRESS#Intent;package=com.mxtech.videoplayer.ad;type=video;scheme=http;end",
    "RecordedDownloadAndroidURL": "android-app://com.dv.adm/http/ADDRESS",

    "HttpLiveViewiOSURL" : "vlc-x-callback://x-callback-url/stream?url=http://ADDRESS",
    "HttpLiveViewAndroidURL": "intent://ADDRESS#Intent;package=com.mxtech.videoplayer.ad;type=video;scheme=http;end"
}

